@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* classes universais */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --TOPO-- */
#topo{
    background-image: linear-gradient(30deg, #1399BF, #002235);
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    position: relative;
}

.pilarBackground{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65% !important;
    z-index: 0;
}

.navBar{
    z-index: 1;
    position: relative;
}

.logoTopo > img{
    width: 150px;
}

.menuTopo{
    gap: 30px;
    padding: 0 20px;
}

.menuTopo a{
    color: #fff;
}

.menuTopo a:hover{
    opacity: 0.7;
}

.tituloTopo{
    width: 400px;
    padding-top: 50px;
}

.tituloTopo h1{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 20px;
}

.spanDinamico{
    padding: 0 0 40px 20px;
}

.btnSobre{
    text-align: center;
    background-color: #323232;
    color: #fff;
    padding: 10px 60px;
    border-radius: 30px;
}

.mouseAnimation{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 45%;
    display: flex;
    justify-content: center;
}

.linhaMouseAnimation{
    width: 4px;
    height: 70px;
    background-color: #fff;
    opacity: 40%;
}

.bi-mouse{
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    transition: 1s;
    animation: mouseIcon 2s infinite alternate;
}

@keyframes mouseIcon {
    0%{
        top: 0;
    }

    100%{
        top: 40px;
    }
}

/* --CONTEUDO-- */
.content{
    width: 100%;
}

/* apresentacao1 */
.apresentacao1{
    padding: 70px;
    gap: 20px;
}

.apresentacao1 h1{
    font-size: 2rem;
    letter-spacing: 2px;
}

.linhaCentral{
    width: 7px;
    height: 200px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.subApresentacao1 p{
    font-size: 1.5rem;
    padding: 5px 0;
    color: #323232;
}

/* apresentaco2 */
.apresentacao2{
    max-width: 100%;
    position: relative;
}

.apresentacao2 img{
    width: 100%;
    z-index: 0;
}

.infoApresentacao{
    width: 700px;
    position: absolute;
    bottom:50%;
    right: 50%;
    transform: translate(50%, 50%);
    flex-direction: column;
    gap: 40px;
    color: #fff;
}

.infoApresentacao h1{
    font-size: 2rem;
}

.infoApresentacao p{
    font-size: 1.3rem;
}

/* portfolio - c6ntato*/
.portfolio,
.contato{
    padding: 40px;
    width: 100%;
}

.portfolio img,
.contato img{
    width: 200px;
}

.tituloPortfolio h1,
.tituloContato h1{
    font-size: 2.5rem;
    color: #323232;
    opacity: .9;
    letter-spacing: 2px;
}

/* portfolio */
.cardsPortfolio{
    gap:30px;
    flex-wrap: wrap;
}

.cardPortfolio{
    width: 250px;
    height: 350px;
    border: 1px solid;
    border-radius: 20px;
}

.infoSocial,
.infoSocial ul,
.telefone{
    gap: 5px;
    font-size: 1.5rem;
    color: #323232;
}

.emailSocial p{
    padding-left: 30px;
}

.telefone{
    padding: 20px 0;
}

/* orcamento */
.orcamento,
.orcamentoForm{
    background-color: #323232;
    color: #D9D9D9;
    flex-direction: column;
}

.orcamento h1{
    color: #F4EB0B;
    padding: 30px;
    font-size: 2rem;
}

.orcamento ul,
.orcamento ul li{
    gap: 30px;
}

.orcamento ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    color: #323232;
    font-weight: bold;
}

.orcamentoForm{
    padding: 30px;
}

.sectionInput input{
    margin: 20px;
    width: 400px;
    height: 40px;
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
}

.btnOrcamentoForm{
    width: 150px;
    color: #323232;
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.faseForm{
    display: none;
}

.fase{
    opacity: .5;
}

.nameForm{
    display: flex;
}

/* --RODAPE-- */
#rodape{
    width: 100%;
}

.menu-primarioRodape{
    background-image: linear-gradient(30deg, #1399BF, #002235);
    padding: 50px 100px;
}

.logoRodape img{
    width: 200px;
}

.menuRodape{
    gap: 30px;
}

.menuRodape ul li a{
    color: #fff;
}

.menuRodape ul li:hover{
    opacity: .5;
}

/* -RESPONSSIVO- */

@media only screen and (max-width: 600px) {
    *{
        text-align: center;
    }

    /* TOPO */
    .pilarBackground{
        width: 100% !important;
    }

    .navBar,
    .infoSocial,
    .menuRodape,
    .menu-primarioRodape{
        flex-direction: column;
        justify-content: center;
    }

    .tituloTopo{
        width: 200px;
    }

    .tituloTopo h1{
        font-size: 2rem;
        width: 300px;
    }

    .mouseAnimation{
        display: none;
    }

    /* CONTEUDO */
    .apresentacao1{
        flex-direction: column;
    }

    .linhaCentral{
        width: 250px;
        height: 7px;
    }

    .apresentacao2{
        display: none;
    }

    .tituloPortfolio,
    .tituloContato{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .tituloPortfolio img,
    .tituloContato img{
        width: 100px;
    }

    .emailSocial{
        font-size: 1rem;
    }

    .orcamentoForm input{
        width: 80%;
    }
  }